<div class="user-page">
  <div class="user-contents">
    <p class="user-name"><%= @user.nickname %></p>

    <p><%=link_to "フォロー", follows_user_path(@user.id) ,class:"f-member" %></p>
    <p><%=link_to "フォロワー", followers_user_path(@user.id),class:"f-member" %></p>
    <% if current_user != @user && @user.followed_by?(current_user) %>
        <p><%=link_to "フォロー中", user_relationships_path(@user.id),class:"f-btn" , method: :delete %></p>
    <% end %>

    <% if current_user != @user && !@user.followed_by?(current_user) %>
        <p><%=link_to "フォローする", user_relationships_path(@user.id),class:"f-btn" ,method: :post %></p>
    <% end %>
  </div>
</div>