<!DOCTYPE html>
<html>
  <head>
    <title>FollowApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header class="header">
        <h1><a href="/">FollowApp</a></h1>
        <% if user_signed_in? %>
            <h2><%= current_user.nickname %></h2>
            <%= link_to "マイページ", "/users/#{current_user.id}" %>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
            <%= link_to  "投稿する", new_tweet_path, class: "post" %>
        <% else %>
            <%= link_to "ログイン", new_user_session_path, class: "post" %>
            <%= link_to "新規登録", new_user_registration_path, class: "post" %>
        <% end %>
    </header>
      <%= yield %>
    <footer>
      <p>
        Copyright FollowApp 2020.
      </p>
    </footer>
  </body>
</html>